.wrapper { 
  position: relative;
  width: 100%; 
  height: 100%; 
}

.opacity { 
  opacity: 60%;
}

body {
  background-color: var(--primary);
}
ul {
  text-decoration: none;
  list-style: none;
}

li {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: var(--secondary);
}

a:hover {
  color: var(--secondary);
}
