.background {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 95%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.column {
  padding-bottom: 3%;
}

.row > * {
  padding-left: 1.5% !important;
  padding-right: 1.5% !important;
}

.contentContainer {
  display: flex;
  flex-direction: column;
}

.image {
  max-width: 100%;
  border-radius: 5%;
}

.nameContainer {
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.number {
  color: grey;
  font-size: 90%;
  font-weight: 600;
}
.name {
  white-space: nowrap;
  padding-top: 5%;
  font-size: 80%;
  font-weight: 600;
}

.secondaryName {
  font-size: 70%;
  font-weight: 500;
  color: grey;
}
