.toggleContainer { 
  display: flex;
  flex-direction: row;
  width: 100%;
}


.toggleInactive,
.toggleInactive:focus,
.toggleInactive:active {
  display: flex; 
  flex-direction: row;
  justify-content: center;
  width: 50%;
  background-color: transparent !important;
  color: var(--secondary) !important;
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  color: var(--secondary);
}



.toggleActive,
.toggleActive:hover,
.toggleActive:focus,
.toggleActive:active {
  display: flex; 
  flex-direction: row;
  justify-content: center;
  width: 50%;
  border-bottom: 2px solid var(--primary-green);
  color: var(--primary-green);

}

.trackText { 
  outline: none; 
  border: none;
  padding-bottom: 4%;
  font-size: 90% !important;
  font-weight: 600 !important;
  background-color: transparent !important;
}

.trackText:hover { 
  cursor: pointer;
}
