.padding {
  height: 60vh;
  display: flex;
  justify-content: center;
}
.contentContainer {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.iconContainer {
  color: var(--secondary);
  padding-top: 3%;
  padding-bottom: 3%;
}

.message {
  line-height: 150%;
  font-size: 150%;
  font-weight: 400;
  text-align: center;
  color: var(--secondary);
}
