.contentContainer {
  padding-top: 6%;
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.timeFrameBigContainer { 
  display: flex;
  flex-direction: row;
  align-items: center;
}

.timeFrame {
  color: var(--secondary);
  font-size: 220%;
  font-weight: 700;
}

.timeFrameSmall {
  padding-bottom: 2%;
  color: var(--grey);
  font-size: 180%;
  font-weight: 600;
}

.timeFrameContainer {
  display: flex;
  flex-direction: column;
  margin: 0% 1%;
}

.playlistIconContainer { 
  display: flex; 
  justify-content: center;
  align-items: center;
  width: 35px; 
  height: 35px;
  border-radius: 50%; 
  background-color: #1db954; 
  margin-top: 2%;
  margin-left: 20px;
}

.playlistIconContainer:hover { 
  cursor: pointer;
  background-color: #1bcb59;
}
